@keyframes moveInLeft {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



