@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #fff;
}

.home-wrapper {
  height: 90vh;
  padding: 40px;
  background-image: linear-gradient(to right bottom, rgba(239, 60, 54, 0.877), rgba(255, 255, 255, 0.842));
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  text-align: center;
  .home-header {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    .home-header-text {
      font-size: 2.5rem;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
    .btn {
      &:link, &:visited {
        background-color: #fff;
        color: black;
        margin-top: 4rem;
        display: inline-block;
        text-align: center;
        border-radius: 100px;
        padding: 15px 40px;
        font-weight: 200;
        text-decoration: none;
      }
      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
      }
      &:active {
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
      }
    }
  }
}